@import '../../index.scss';

.agronet-dashboard-flex {
    display: flex;
}
.agronet-dashboard-area {
    background-color: #f1f1f1;
    width: 85%;
    .hero {
        background-color: white;
        width: 90%;
        margin: 1.7rem auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        &-text {
            width: 50%;
            height: 100%;
            margin-left: 2rem;
            h2 {
                margin-top: 1rem;
                font-family: 'Red Rose';
                font-size: 40px;
            }
            p {
                margin: 1rem 0 1.5rem 0;
                font-family: 'Inter';
                font-size: 18px;
            }
            button {
                height: 40px;
                border: 0;
                border-radius: 6px;
                padding: 0 20px;
            }
            .submit-button {
                background-color: $agronet-secondary-color;
                color: white;
            }
            .upload-button {
                margin-left: 10px;
                background-color: white;
                color: $agronet-secondary-color;
                border: 1px solid $agronet-secondary-color;
            }
        }
        &-img {
            margin-right: 2rem;
        }
    }
}
